body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lightgray;
}

a {
  color: blue;
}

h3,
p {
  display: inline-block;
}

p {
  color: gold;
}