body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lightgray;
}

a {
  color: blue;
}

h3,
p {
  display: inline-block;
}

p {
  color: gold;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
  background-color: darkgray;
}

li {
  list-style: none;
}